TaskMind - 每週摘要.json
{
  "name": "TaskMind - 每週摘要",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1456,
        448
      ],
      "id": "0dd915e4-f660-447a-b90a-49b6cbe5e037",
      "name": "Schedule Trigger (週日 21:00)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VyRwG_bWYfu8uVmPIs0xPwDJs__b4yCsmrvf9UuZka0",
          "mode": "list",
          "cachedResultName": "提醒助理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyRwG_bWYfu8uVmPIs0xPwDJs__b4yCsmrvf9UuZka0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyRwG_bWYfu8uVmPIs0xPwDJs__b4yCsmrvf9UuZka0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        448
      ],
      "id": "342a1557-cd0b-4da6-a586-8fabb0e89b0e",
      "name": "Get 本週所有任務",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3oP5Xw9cPfxHuTfI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\n// 台北時間\nconst offset = 8 * 60 * 60 * 1000;\nconst now = new Date(Date.now() + offset);\nconst today = now.toISOString().split('T')[0];\n\n// 本週範圍（週一到週日）\nconst day = now.getDay();\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - (day === 0 ? 6 : day - 1));\nconst sunday = new Date(monday);\nsunday.setDate(monday.getDate() + 6);\nconst weekStart = monday.toISOString().split('T')[0];\nconst weekEnd = sunday.toISOString().split('T')[0];\n\nconst thisWeekRows = rows.filter(r => r.json.deadline_date >= weekStart && r.json.deadline_date <= weekEnd);\nconst completed = rows.filter(r => r.json.status === '已完成' && r.json.updated_at && r.json.updated_at.slice(0, 10) >= weekStart);\nconst incomplete = rows.filter(r => r.json.status === '未完成' || r.json.status === '進行中');\nconst overdue = rows.filter(r => r.json.deadline_date < today && r.json.status !== '已完成' && r.json.status !== '已取消');\n\nconst completedList = completed.map(r => r.json.task_name).join('、') || '無';\n\nreturn [{ json: {\n  weekRange: `${weekStart} ~ ${weekEnd}`,\n  total: thisWeekRows.length,\n  completedCount: completed.length,\n  incompleteCount: incomplete.length,\n  overdueCount: overdue.length,\n  completedList,\n  msg: `📊 本週任務週報\\n（${weekStart} ~ ${weekEnd}）\\n\\n✅ 完成：${completed.length} 件\\n📝 未完成：${incomplete.length} 件\\n⚠️ 逾期：${overdue.length} 件\\n\\n✨ 完成的任務：\\n${completedList}\\n\\n繼續加油！下週也要好好管理任務 💪`\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        448
      ],
      "id": "1c799414-4449-499d-b3ba-69584aa353f8",
      "name": "Code (組合週摘要)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({to: \"U76a78ee663acf7e099e54516525b67ff\", messages: [{type: \"text\", text: $json.msg}]}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2064,
        448
      ],
      "id": "2b1ee146-3352-4eb7-aa75-8f42ff50cada",
      "name": "HTTP Request (週摘要)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (週日 21:00)": {
      "main": [
        [
          {
            "node": "Get 本週所有任務",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 本週所有任務": {
      "main": [
        [
          {
            "node": "Code (組合週摘要)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (組合週摘要)": {
      "main": [
        [
          {
            "node": "HTTP Request (週摘要)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3d23d174-b5b2-405b-8547-0441d1df790b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "628c89e2aed0df780ac844e2c55d02c762891f4348f3d441f498406d43bef407"
  },
  "id": "nPmOtuZM7RqFdnzh",
  "tags": []
}