TaskMind - 每週五提醒 (1).json
{
  "name": "TaskMind - 每週五提醒",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * 5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2512,
        832
      ],
      "id": "9f5e6b1c-f51a-40bc-9051-d7e9249ff495",
      "name": "Schedule Trigger (週五 21:00)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VyRwG_bWYfu8uVmPIs0xPwDJs__b4yCsmrvf9UuZka0",
          "mode": "list",
          "cachedResultName": "提醒助理",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyRwG_bWYfu8uVmPIs0xPwDJs__b4yCsmrvf9UuZka0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VyRwG_bWYfu8uVmPIs0xPwDJs__b4yCsmrvf9UuZka0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2704,
        832
      ],
      "id": "1f77afe0-91cb-4566-88a7-02f75898e4e9",
      "name": "Get 本週任務",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3oP5Xw9cPfxHuTfI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\n// 台北時間\nconst offset = 8 * 60 * 60 * 1000;\nconst today = new Date(Date.now() + offset).toISOString().split('T')[0];\n\nconst incomplete = rows.filter(r =>\n  r.json.status === '未完成' || r.json.status === '進行中'\n);\n\nincomplete.sort((a, b) => (a.json.deadline_date || '').localeCompare(b.json.deadline_date || ''));\n\nlet msg = '';\nif (incomplete.length === 0) {\n  msg = '🎉 本週所有任務都完成了！太棒了！';\n} else {\n  msg = `📋 週五任務總覽\\n\\n共有 ${incomplete.length} 件待辦：\\n\\n`;\n  incomplete.forEach((t, i) => {\n    const deadline = t.json.deadline_date || '無截止日';\n    const isOverdue = t.json.deadline_date && t.json.deadline_date < today;\n    const icon = isOverdue ? '⚠️' : '📌';\n    msg += `${icon} ${i+1}. ${t.json.task_name}\\n`;\n    msg += `   截止日：${deadline} ｜ ${t.json.category || '未分類'}\\n\\n`;\n  });\n  msg += '週末加油完成它們 💪';\n}\n\nreturn [{ json: { msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        832
      ],
      "id": "9b38fdc7-4ff5-4080-9470-c2f334679bdb",
      "name": "Code (組合週五提醒)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({to: \"U76a78ee663acf7e099e54516525b67ff\", messages: [{type: \"text\", text: $json.msg}]}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3120,
        832
      ],
      "id": "0af3bd09-7df1-4280-87e1-e33fff9561ee",
      "name": "HTTP Request (週五提醒)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (週五 21:00)": {
      "main": [
        [
          {
            "node": "Get 本週任務",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 本週任務": {
      "main": [
        [
          {
            "node": "Code (組合週五提醒)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (組合週五提醒)": {
      "main": [
        [
          {
            "node": "HTTP Request (週五提醒)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "18e8549f-0dd9-400e-b61c-949de1092686",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "628c89e2aed0df780ac844e2c55d02c762891f4348f3d441f498406d43bef407"
  },
  "id": "XRzdBUiHH5hUXE6j",
  "tags": []
}